@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

/* Use the 'Oswald' font family at 14px throughout the body of the document. */
body {font-family: Oswald; font-size: 14px;}

#main {width: 900px; margin: 10px auto;}
/* Use the 'Bungee Inline' font at 46px and lighter weight for the restaurant name. */
h1 {
    font-family: Bungee Inline; font-size: 46px; font-weight: lighter;
}

#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}
/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
h2 {margin-top: 0; font-variant: uppercase;}

/* Make the name of each menu item appear in bold in a 16px size. */
dt {display: inline-block; font-weight: bold; font-size: 16px; content: ",";}
/* Make a comma appear after the name of each menu item (before the description) */
dt::after {content: ", ";}

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px; clear: both;}

/* Right-align the text of the address/footer */
footer{
    text-align: right;
}
/* draw a 2px black border around the starters and desserts sections of the menu */
.menuBorder {
    border: 2px black solid
}
/*

selector 
class 
anchor tag 
.class-name 
.btn
.btn_1
id = 1 per element unique id. 
html selector 

.selector1.selector2

.ancestor .child 

link element rel="stylesheet" href="style.css"


*/ 
/*
    h1 {
        color: red;
    }

    /* id class element then which ever is last !important
    inline overides no matter what. this is cascading. 
    body {
        color: red;
    }

    color: #0fred0fgren0fblue

    color: rbg{o, 255, 0,}

    color: hs1a(0,100%,50,.5)

        
    */
/*
.box {
    height: 100px;
    width: 100px;
    padding: 2px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}

/* css control visual aspects of content holders */

